# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
node_modules
# Dependency directories (remove the comment below to include it)
# vendor/
*.log
cache
dist
*exDB-linux-amd64
generateTOTP-linux-amd64
config-zt.yml
backend/config-zt.yml
node_modules
frontend/node_modules
frontend/dist
# backup/*
# backend/backup/*
recode.log